body.logged-in, body.admin-bar {
  .autofix-header {
    top: 28px !important;
  }
  position: relative;
  @include respond-to(tablet-portrait) {
    .autofix-header {
      top: 46px !important;
    }
  }
}

#wpadminbar {
  position: fixed !important;
}