.main-logo, .ubermenu-item-layout-text_only {
  -webkit-transition: all 0.17s ease-in;
  -moz-transition: all 0.17s ease-in;
  -ms-transition: all 0.17s ease-in;
  -o-transition: all 0.17s ease-in;
  transition: all 0.17s ease-in;
}
.main-logo {
  height: 115px;
}

body.logged-in, body.admin-bar {
  .sticky {
    top: 28px !important;
    @include respond-to(tablet-portrait) {
     top: 0px !important;
    }
  }
}

.sticky {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;

  .main-logo {
    height: 80px;
  }

}

.ubermenu-item-layout-text_only {
  padding: 3px 20px 15px !important;
}

.ubermenu-loc-primary {
  text-align: right;
}