

.autofix-header {
  z-index: 10;
  height: 105px !important;
  overflow: initial !important;
  -webkit-transition: height 120ms $ips-animation-ease; /* older webkit */
  -webkit-transition: height 120ms $ips-animation-ease;
  -moz-transition: height 120ms $ips-animation-ease;
  -o-transition: height 120ms $ips-animation-ease;
  transition: height 120ms $ips-animation-ease;
  .eemjii-logo img {
    height: 60px;
    -webkit-transition: height 120ms $ips-animation-ease; /* older webkit */
    -webkit-transition: height 120ms $ips-animation-ease;
    -moz-transition: height 120ms $ips-animation-ease;
    -o-transition: height 120ms $ips-animation-ease;
    transition: height 120ms $ips-animation-ease;
  }
  .navbar-nav > li > a {
    -webkit-transition: padding 120ms $ips-animation-ease; /* older webkit */
    -webkit-transition: padding 120ms $ips-animation-ease;
    -moz-transition: padding 120ms $ips-animation-ease;
    -o-transition: padding 120ms $ips-animation-ease;
    transition: padding 120ms $ips-animation-ease;
  }
  &.autofix_sb.fixed{
    height: 84px !important;

    .eemjii-logo img {
      height: 40px;
    }
    .navbar-nav > li > a {
      padding-top: 13px;
      padding-bottom: 12px;
    }
  }
}

#header-main {

//  width: 100%;

}