.slick-testimonial-home {
  .slick-dots {
    padding: 0px;
    text-align: center;
    li {
      @extend .display-inline-block;
      @extend .margin;
      img {
        -webkit-transition: border 0.12s ease-in;
        -moz-transition: border 0.12s ease-in;
        -ms-transition: border 0.12s ease-in;
        -o-transition: border 0.12s ease-in;
        transition: border 0.12s ease-in;
        @extend .border-none0-green;
      }
      &.slick-active {
        img {
          @extend .border-3-green;
        }
      }
    }
  }
}