.mix-it-up .mix, .mix-it-up-sub .mix-service{
  display: none;
}

.single-related-content {
  height: auto;
  @include respond-to('large-desktop') {
    height: 125px;
  }
  @include respond-to('tablet-landscape-desktop') {
    height: 165px;
  }
  .single-related-content-featured-image {
    width: 30%;
    vertical-align: top;
  }
  .single-related-content-content {
    width: 58%;
    padding-left: 2%;
  }
}