.awards:last-child {
  hr {
    display: none;
  }
}

.awards-height {
  height: 760px;
  @include respond-to('tablet-landscape-desktop') {
    height: 830px;
  }
  @include respond-to('tablet-landscape-desktop') {
    height: 830px;
  }
}