.template-solution-heading-cloud {
  position: absolute;
  top: 40%;
  display: block;
  width: 50%;
  left: 25%;
}

.corner-image {
  width: 80px;
  height: auto;
  top: -50px;
  left: -50px;
  position: absolute;
}
.margin-bottom-large {
  margin-bottom: $ips-padding-1*2;
  width: 100%;
  display: block;
}
.circle-bottom-green {
  position: absolute;
  left: 50%;
  bottom: 0;
  &:after {
    content: " ";
    display: block;
    width: 30px;
    height: 30px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    background-color: $ips-green;
    position: absolute;
    left: -50%;
    bottom: -15px;
  }
}