// Display
@include responsive_property("display-inline-block"){
  display: inline-block;
}

@include responsive_property("display-inline"){
  display: inline-block;
}

@include responsive_property("display-block"){
  display: inline-block;
}

// Headings.h1 { font-size: $font-size-h6 }
@include responsive_property("h1"){font-size: $font-size-h1 }
@include responsive_property("h2"){font-size: $font-size-h2 }
@include responsive_property("h3"){font-size: $font-size-h3 }
@include responsive_property("h4"){font-size: $font-size-h4 }
@include responsive_property("h5"){font-size: $font-size-h5 }
@include responsive_property("h6"){font-size: $font-size-h6 }

// Position
@include responsive_property("position-absolute"){position: absolute}
@include responsive_property("position-relative"){position: relative}
@include responsive_property("position-static"){position: static}

// Border Placement
@include responsive_property("top-0"){top: 0}
@include responsive_property("left-0"){left: 0}
@include responsive_property("right-0"){right: 0}
@include responsive_property("bottom-0"){bottom: 0}

// Dimensions
@include responsive_property("width-100"){width: 100%;}
@include responsive_property("height-100"){height: 100%;}