$project-prefix: 'ips';

$ips-blue:    #0078ae;
$ips-green:   #c3cf21;
$ips-grey:    #959ca1;
$ips-cyan:    #00bce4;
$ips-purple:  #9c8dc3;
$ips-orange:  #f89829;

$ips-border-width-1: 3px; // border size 1
$ips-border-width-2: 1px; // border size 2
$ips-border-width-3: 6px; // border size 3