//body.logged-in, body.admin-bar {
//  margin-top: 28px !important;
//  @include respond-to(tablet-portrait) {
//    margin-top: 46px !important;
//  }
//}
//
//#wpadminbar {
//  @include respond-to('tablet-portrait') {
//    position: fixed;
//  }
//}

.alignleft {
  display: block !important;
  float: left !important;
}
.aligncenter {
  display: block !important;
  margin: 0 auto !important;
}
.alignright {
  display: block !important;
  float: right !important;
}