.sticky {
  .ubermenu-submenu {
    margin-top: 0px !important;
  }
}
.ubermenu-item {
  @include respond-to('tablet-portrait') {
    padding: 0 !important;
  }
}
.ubermenu-submenu {
  background-color: rgba(white, 1) !important;

  @include respond-to('tablet-portrait') {
    .ubermenu-item {
      padding: 0 !important;
    }
  }
  .ubermenu-item {
    padding: 10px !important;

    &:first-child {
      margin-top: 0px !important;
    }
    &.ubermenu-column {
      padding: 0px !important;
      .ubermenu-item {
        position: relative !important;
        &:before {
          content: "";
          display: block;
          position: absolute;
          left:0;
          background-color: $ips-blue;
          height: 100%;
          width: 0;
          -webkit-transition: width 0.08s ease-in;
          -moz-transition: width 0.08s ease-in;
          -ms-transition: width 0.08s ease-in;
          -o-transition: width 0.08s ease-in;
          transition: width 0.08s ease-in;
        }
        &:hover {
          &:before {
            width: 6px;
          }
        }
        &.ubermenu-current-menu-item {
          &:before {
            width: 6px;
            background-color: $ips-green;
          }
        }
      }
    }
  }

  .ubermenu-image {
    padding-right: 10px !important;
    @include respond-to('tablet-portrait') {
      display: none !important;
    }
  }
  .ubermenu-content-block {
    color: $ips-green !important;
    padding: 0px !important;
    font-size: 14px;
    font-style: italic;
    @include respond-to('tablet-portrait') {
      display: none;
    }
  }
}
@include respond-to('tablet-portrait') {
  .ubermenu-responsive-toggle {
    text-align: center;
  }
}
.ubermenu-sub-indicators .ubermenu-has-submenu-drop > .ubermenu-target:after {
  position: absolute;
  right: 0px !important;
  bottom: 0px;
  margin: 0 !important;
  content: "\f107";
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  text-align: center;
}

.ubermenu-item-layout-text_only {
  padding: 3px 20px 15px !important;
}

.ubermenu-loc-primary {
  text-align: right;
}

.ubermenu-main {
  @extend .height-100-important;
  > .ubermenu-nav {
    @extend .height-inherit;
   > .ubermenu-item {
     @include respond-to('tablet-portrait'){
       text-align: center;
     }
      @extend .height-inherit;
      > .ubermenu-target{
        @extend .height-inherit;
        > .ubermenu-target-text {
          @extend .font-family-default
        }
      }
    }
  }
}

.ubermenu-responsive {
  height: 100%;
}

